<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.nmss.nice"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
	<permission
        android:name="net.nmss.nice.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="net.nmss.nice.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>  
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- QQ互联用到的特有权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 百度分享用到的权限 -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name="net.nmss.nice.activity.NiceApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="net.nmss.nice.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity
            android:name="net.nmss.nice.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
       <activity
            android:name="net.nmss.nice.activity.MorningRemingAcitivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
       <activity
            android:name="net.nmss.nice.activity.EatRemindActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
       <activity
            android:name="net.nmss.nice.activity.GetDiamondActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.TalkWithActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.TalkToMeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.RecommendActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.FansAddActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.BroatCastActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.EmailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
       <activity
            android:name="net.nmss.nice.activity.RunRemindActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
       <activity
            android:name="net.nmss.nice.activity.DrinkRemindActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.NmssRemindActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
       <activity
            android:name="net.nmss.nice.activity.TestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
       <activity
            android:name="net.nmss.nice.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DownInDownOut"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="net.nmss.nice.activity.ForgetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="net.nmss.nice.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DownInDownOut"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="net.nmss.nice.activity.FirstRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DownInDownOut"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="net.nmss.nice.activity.SecondRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DownInDownOut"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="net.nmss.nice.activity.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.MyHomePageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.OtherHomePageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="net.nmss.nice.activity.RoomCommentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
         <activity
            android:name="net.nmss.nice.activity.MessageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
         
        <!-- 百度定位服务所需要的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 百度定位所需要的key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="A3xTCVrOHDVSQ8cfXw7Hc4OS" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="66vv_ceshi_y0916" />

        <!-- 百度分享封装的activity -->
        <activity
            android:name="com.baidu.frontia.activity.share.FrontiaSocialOAuthActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.baidu.frontia.activity.share.FrontiaLocalShareActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
         <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
    
        
        <!-- Required SDK 核心功能-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
                
            </intent-filter>
        </service>
        
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
             <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="net.nmss.nice" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
             <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
   
        </receiver>
        
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        
         <receiver
            android:name="net.nmss.nice.service.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />  
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="net.nmss.nice" />
            </intent-filter>
        </receiver>
        <receiver  
            android:name="net.nmss.nice.service.AlarmKlaxonService" 
            android:process=":remote">             
		</receiver> 
        <activity
            android:name="com.baidu.frontia.activity.share.FrontiaQQFriendShareReceiverActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1102001493" />
            </intent-filter>
        </activity>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="22fa244e3fd097d06dd284db" /> 
    </application>

</manifest>
