<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.protruly.floatwindowlib"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="com.mstar.android.permissionn.ACCESS_TV_DATA" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:excludeFromRecents="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.AutoAdjustView"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.cultraview.virtualkey.intent.action.AutoAdjustView" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsNewActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/dialogActivity">
            <intent-filter>
                <action android:name="com.protruly.floatwindowlib.action.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/dialogActivity">
            <intent-filter>
                <action android:name="com.protruly.floatwindowlib.action.SETTING_RIGHT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".SettingActivityLeft"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:targetActivity=".activity.SettingActivity"
            android:theme="@style/AppThemeDialogLeft">
            <intent-filter>
                <action android:name="com.protruly.floatwindowlib.action.SETTING_LEFT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".activity.HideActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:theme="@style/AppThemeDialog">
            <intent-filter>
                <action android:name="com.protruly.floatwindowlib.action.HIDE_DIALOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.FloatWindowService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.protruly.floatwindowlib.action.VIRTUAL_KEY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".service.UpdateAPKService" /> <!-- 开机广播 -->
        <receiver
            android:name=".broadcast.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.ShowHideReceiver">
            <intent-filter>
                <action android:name="LYD_SHOW_NAVIGATION_BAR" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ctv.launcher.RESET_LIGHT" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ctv.launcher.SHOW" />
                <action android:name="com.ctv.launcher.HIDE" />
                <action android:name="com.ctv.launcher.CLOSE" />
                <action android:name="com.ctv.launcher.LOCK" />
                <action android:name="com.ctv.launcher.UNLOCK" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>